#slideshow #slideshowWindow {
	width:100%;
	height:700px;
	max-width: 1920px;
	margin:0;
	padding:0;
	position:relative;
	overflow:hidden;
}

#slideshow #slideshowWindow img{
	width:1920px;
	height: 620px;
}

#slideshow #slideshowWindow .slide {
	margin:0;
	padding:0;
	width:1920px; 
	height:700px;
	float:left;
	position:relative;
}

#slideshow #slideshowWindow .slide .slideText{
	position: absolute;
	top: 130px;
	left: 0px;
	width: 100%;
	height: 130px;
	margin: 0;
	padding: 0;
	font-family: Myriad Pro, Arial, Helvetica, sans-serif;
}

#slideshow #slideshowWindow .slide .slideText a:link,
#slideshow #slideshowWindow .slide .slideText a:visited{
	color: #000000;
	text-decoration: none;
}

#slideshow #slideshowWindow .slide .slideText h2,
#slideshow #slideshowWindow .slide .slideText p{
	margin:10px 0 0 10px;
	padding:0;
}

.nav{
	display:block;
	text-indent:-10000px;
	position:absolute;
	cursor: pointer;
}

#leftNav{
	top: 220px;
	left: 320px;
	width: 94px;
	height: 40px;
	background-image:url("../img/LA.jpg");
	background-repeat: no-repeat;
	z-index: 999;
}

#rightNav{
	top: 220px;
	left: 380px;
	width: 53px;
	height: 40px;
	background-image:url("../img/RA.jpg");
	background-repeat: no-repeat;
	z-index: 999;
}